$body-color: red;

html,
body {
  color: lch(53 105 40);
  display: flex;
  backface-visibility: hidden;
}

:fullscreen {
  width: auto;
}

* {
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: $body-color;
  background: no-repeat url("../img/1.jpg");
  .content {
    width: 600px;
    height: 600px;
    background-color: pink;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
